body
{
	background-color:#dedede;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
}
a{
	text-decoration: none;
}
#container
{
	width: 1700px;
	margin-right: auto;
	margin-left: auto;
}

.logo
{
	background-color: #FFFFFF;
	color:black;
	font-size: 44px; 
	font-weight: 700;
	text-align: center;
	border: 2px solid #000000;
	float: bottom;
}

#menu
{
    background-color: #FF0000;
	margin-top: 20px;
	color: #FFFFFF;
	padding: 10px;
}

#topbar
{
	background-color: #FFFFFF;
	color: #000000;
	padding: 10px;
	margin-top:20px;
	margin-bottom:25px;
	height:225px;
	
}

#topbarL
{
	float:left;
	padding:20px;
	width:598px;
	text-align:center;
	border-right: 2px solid #000000;
}

#topbarR
{
	float:left;
	padding:20px;
	width:760px;
	font-size:16px;
	text-align:justify;  
}

#sidebar
{
	float:left; 
	width: 608px;
	min-height:620px;
	padding:20px;
	background-color: #dedede;
	text-align: center; 
	font-size:18px;
	border-right:2px solid #000000;
	margin-bottom:20px;
	text-align: middle;
}

#content
{
	float:left; 
	padding:40px;
	width: 730px;
	background-color: #dedede;
    min-height:580px;
    text-align:justify;	
	margin-bottom:20px;
}

#footer
{
	background-color: #FF0000;
	clear: both;
	color: #ffffff;
	text-align: center;
	padding: 25px;
	font-size: 18px;
	margin-bottom: 20px;
}

.option
{
	float:left;
	min-width:55px;
	height:25px;
	font-size:18px;
	padding:10px;
	border-right:2px solid #000000;
	opacity:0.8;
} 

.option:hover
{
	background-color: #FF0000;
	cursor:pointer;
}

.bigtitle
{
	font-size: 32px;
	font-weight: 700;
}

.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}
